.allForms
	margin-bottom: 3px
	display: flex
	justify-content: space-between

.spanEditProfile
	font-size: 1.4rem
	font-weight: bold
	color: #1d35dbdb

.inputsEditProfile
	width: 210px
	height: 30px
	font-size: 1.2rem
	background-color: #0037ff30
	border: #c3c5f1 2px solid

	&:focus
		outline: 2px solid rgb(104, 190, 224)
		color: #ffffffb8
		font-weight: bold
		border: #979bf0 2px solid

.errorField
	outline: 1px solid rgb(235, 0, 0)

	&:focus
		border: 1px solid rgb(248, 1, 1)

.uploadAvatar
	flex-direction: column

.inputsAvatar
	width: 348px
	height: 30px
	background-color: #cee8ff
	background-color: #0037ff30
	border: #c3c5f1 2px solid

	&:focus
		border: #979bf0 2px solid
		outline: 2px solid rgb(104, 190, 224)
		color: #ffffffb8

.errorEditProfile
	font-size: 1rem
	color: #ff0202de
	font-weight: bold

.btn_editProfile
	width: 48%
	padding: 5px 0px
	margin-right: 2%
	font-size: 1rem
	cursor: pointer
	margin-top: 3%

.btn_apply
	background-color: rgb(53 227 41 / 60%)
	border: 2px solid #5157dd70
	height: 40px
	border-radius: 4px

	&:hover
		background-color: rgb(25 215 12 / 80%)
		border: 2px solid rgb(86 91 209 / 80%)

.btn_cancel
	background-color: rgb(225 41 41 / 60%)
	border: 2px solid #5157dd70
	height: 40px
	border-radius: 4px

	&:hover
		background-color: rgb(233 11 11 / 80%)
		border: 2px solid rgb(81 87 221 / 80%)
