.preloader {
  width: 100%;
  height: 600px;
  opacity: 0.5;
}

.wrapperProfile {
  width: 100%;
  height: 100%;
  text-align: center;
}

.preloader_chat {
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: azure;
}

.chatPreview {
  height: 100%;
}