/* PostCreator Begin */
.wrapperCreaterPost {
  padding: 0px 15px 75px 15px;
}
.wrapperCreaterPost div textarea {
  resize: none;
  width: 100%;
  height: 89px;
  background: #69a7dd;
}

.wrapperButPost {
  float: right;
  display: flex;
  flex-direction: column;
  width: 150px;
}
.wrapperButPost button {
  background: bisque;
  border: none;
  height: 30px;
  margin-bottom: 5px;
  box-shadow: -3px 3px 6px #db0f0f;
}
.wrapperButPost button:hover {
  background-color: rgb(235, 189, 133);
  cursor: pointer;
  box-shadow: -3px 3px 6px #862a2a;
}
/* PostCreater End */
/* Post Begin */
.wrapperPost {
  display: flex;
  background-color: #b1b1b147;
  margin-bottom: 20px;
}
.wrapperPost img {
  width: 100px;
  height: 100px;
  padding-right: 10px;
}
/* Post End */
/* ProfileCard Begin */
.profileCard {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0px 10px;
}
.profileCard img {
  width: 180px;
  height: 180px;
}
.profileStatus {
  display: block;
  width: 100%;
  word-break: break-word;
  color: #0769fdcf;
}
.leftCard {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}
.profileInfo {
  padding: 0px 0px 25px 15px;
}

.profileImg img {
  width: 180px;
  height: 180px;
}
.rightCard {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
}
.locationCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
.btn_settings {
  text-align: center;
  margin-left: 5px;
  padding: 8px 41px;
  border: solid 3px #777bebd9;
  border-radius: 4px;
  font: 16px "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  color: #0769fdcf;
  background-color: #dddddd52;
  box-shadow: 0px 0px 10px #0e5cd1, inset 0px 0px 10px #edc0c0;
}
.btn_settings:hover {
  background-color: #46d3e1b5;
  cursor: pointer;
  color: #2776ed;
}

.locationCard span {
  text-decoration: none;
  text-align: center;
  margin-left: 5px;
  padding: 8px 41px;
  border: solid 3px #777bebd9;
  border-radius: 4px;
  font: 16px "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  color: #0769fdcf;
  background-color: #dddddd52;
  box-shadow: 0px 0px 10px #0e5cd1, inset 0px 0px 10px #edc0c0;
}

.profileName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #270ac7e0;
}

.editStatusInput {
  resize: none;
  background-color: #b3b0a9;
  width: 410px;
  height: 35px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  border: 2px solid #b39999;
  box-shadow: 2px 2px 4px #7a6e6e;
  outline: none;
}
/* ProfileCard End */
/* EditMode Begin */
.wrapperEditMode {
  position: fixed;
  background-color: #387cf978;
  border-radius: 30px;
  width: 360px;
  height: 400px;
  z-index: 2000;
  top: 12%;
  left: 40%;
  margin: 0px auto;
  padding: 30px;
}
.wrapperForm {
  background-color: #efefef78;
  width: 100%;
  height: 100%;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
}
.wrapperForm div {
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
}
.inputs {
  width: 210px;
  height: 30px;
  font-size: 1.2rem;
  background-color: #0037ff30;
  border: #c3c5f1 2px solid;
}
.inputs:focus {
  outline: 2px solid rgb(104, 190, 224);
  color: #ffffffb8;
  font-weight: bold;
  border: #979bf0 2px solid;
}
.wrapperForm span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1d35dbdb;
}

.wrapperForm button {
  width: 48%;
  padding: 5px 0px;
  margin-right: 2%;
  font-size: 1rem;
  cursor: pointer;
}

.uploadAvatar {
  flex-direction: column;
}
.empty {
  background-color: rosybrown;
}
.inputsAvatar {
  width: 348px;
  height: 30px;
  background-color: #cee8ff;
  background-color: #0037ff30;
  border: #c3c5f1 2px solid;
}
.inputsAvatar:focus {
  border: #979bf0 2px solid;
  outline: 2px solid rgb(104, 190, 224);
  color: #ffffffb8;
}

.btn_apply {
  background-color: rgb(53 227 41 / 60%);
  border: 2px solid #5157dd70;
  height: 40px;
  border-radius: 4px;
}
.btn_apply:hover {
  background-color: rgb(25 215 12 / 80%);
  border: 2px solid rgb(86 91 209 / 80%);
}
.btn_cancel {
  background-color: rgb(225 41 41 / 60%);
  border: 2px solid #5157dd70;
  height: 40px;
  border-radius: 4px;
}
.btn_cancel:hover {
  background-color: rgb(233 11 11 / 80%);
  border: 2px solid rgb(81 87 221 / 80%);
}
