.wrapperDialog {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 35% 65%; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "wrapperContactsDialogs wrapperContactsMessag"; 
}

.wrapperContactsDialogs {
  grid-area: wrapperContactsDialogs;
  display: flex;
  display: grid;
  height: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 85% 5%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "headerDialogs"
    "usersDialogs"
    "footerDialogs";
}

.wrapperContactsMessage {
  grid-area: wrapperContactsMessag;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(126 10 237 / 26%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 70% 20%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "headerMessage"
    "userMessage"
    "footerMessage";
}

.headerDialogs {
  grid-area: headerDialogs;
  background-color: rgb(0 163 237 / 39%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerDialogs span {
  height: 100%;
  font-size: 2rem;
  padding-left: 20px;
  font-weight: bold;
  color: #0764d9;
}

.usersDialogs {
  height: 100%;
  grid-area: usersDialogs;
  background-color: #5556f9ab;
  overflow-y:scroll;
}
.usersDialogs::-webkit-scrollbar {
  width: 12px;
}

.usersDialogs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(106, 36, 172, 0.3); 
  border-radius: 10px;
}

.usersDialogs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(37, 5, 219, 0.5); 
}

.footerDialogs {
  height: 100%;
  grid-area: footerDialogs;
  background-color: rgb(144 94 255 / 80%);
  width: 100%;
}

.headerMessage {
  grid-area: headerMessage;
  border-radius: 0px 0px 20px 20px;
  background-color: rgb(85 177 219 / 51%);;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.headerMessage span {
  padding: 10px 0px 10px 0px;
}
.fullNameDialog {
  font-size: 1.2rem;
}
.statusChat {
  font-size: 0.9rem;
}

.userMessage {
  grid-area: userMessage;
}
.footerMessage {
  grid-area: footerMessage;
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(129 109 255 / 40%);
  width: 100%;
}

.showDialogs_btn {
  background-color: #005efb7a;
  width: 15%;
  height: 60%;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

.wrapperSingleDialog {
  min-width: 300px;
  max-width: 99%;
  margin-left: 0.5%;
  height: 60px;
  background-color: #4ad9bc60;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  outline: #0076f5 solid 1px;
    box-shadow: 0px 0px 5px #43d1f9;
}
.activeLink > .wrapperSingleDialog{
  background-color: #9398fb;
  box-shadow: 0px 0px 10px #3a00f7c2;
}
.wrapperSingleDialog:hover{
  outline: 1px solid rgba(17, 147, 180, 0.65);
  background-color: rgba(25, 172, 123, 0.671);
}
a{
  text-decoration:none;
}

.infoDialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.infoName{
  font-size: 1.2rem;
    font-weight: 700;
    color: #012cff;
}
.infoStatus{
  font-size: 1rem;
  padding-left: 5px;
  font-weight: 600;
  color: #b71100;
}
.avatar{
  width: 60px;
  height: 60px;
  background-color: rgb(35, 167, 207);
  margin-right: 10px;
}
.avatar img{
  width: 60px;
  height: 60px;
}


