.wrapperUser {
  background-color: #79aedd69;
  display: flex;
  width: 90%;
  margin: 20px auto;
  padding: 10px 20px;
  justify-content: space-between;
  border: 1px solid #79aedd;
  box-shadow: 0px 0px 10px #0071d5;
  border-radius: 20px;
}
.leftContent {
  display: flex;
  font-size: 1.3rem;
}
.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  align-items: flex-end;
}
.dataCountry {
  font-size: 1.5rem;
  color: #1d1b4d;
  text-shadow: 0px 0px 5px #6464ff;
}
.dataCity {
  font-size: 1.1rem;
  text-shadow: 1px 1px 8px #2400ffe3;
}
.rightContent button {
  font-size: 1.2rem;
  width: 140px;
  cursor: pointer;
  height: 40px;
  border-radius: 30px;
  font-weight: 600;
  margin-right: -10px;
  margin-top: 20px;
}
.userIMG {
  width: 7rem;
  height: 7rem;
  margin-right: 20px;
  cursor: pointer;
}
.userIMG img {
  width: 7rem;
  height: 7rem;
  border-radius: 10px;
}
.dataBlock {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}

.dataFullName {
  font-size: 1.6rem;
  font-weight: bold;
  color: #c5dcff;
}
.dataNickname {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 10px white;
}
.dataStatus {
  font-size: 0.9rem;
  color: #0055d7;
  font-weight: 600;
  padding-top: 5px;
  width: 90%;
  word-break: break-word;
}
.unfollow {
  background-color: #cf0a0ae0;
  border: solid 2px #cd2c2c;
  box-shadow: 0px 0px 10px #fd1616, inset 8px 6px 20px #ff0f46;
}
.unfollow:hover {
  box-shadow: 0px 0px 10px #fd1616, inset -8px -6px 20px #ff0f46;
}
.follow {
  background-color: #005e09;
  border: solid 2px #96b60b;
  box-shadow: 0px 0px 10px #b8d1e1, inset 8px 6px 20px #e3eb7b;
}
.follow:hover {
  box-shadow: 0px 0px 10px #b8d1e1, inset -8px -6px 25px #e3eb7b;
}
.btnGetUsers {
  width: 25%;
  height: 40px;
  background-color: #8daac6;
  border: 1px solid #3cbfb9;
  margin: 10px 0px;
  color: #c5dcff;
  border-radius: 5%;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: 0px 0px 10px #00ffd0;
}
.btnGetUsers:hover {
  background-color: #5aaeff;
}

.error {
  color: #c5dcff;
  font-size: 1.5rem;
  font-weight: bold;
}
