.wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 264px 1.4fr;
  grid-template-rows: 74px 1.8fr;
  gap: 16px 20px;
  grid-template-areas:
    "header header"
    "saidbar profile";
  height: 100%;
  margin: 20px 34px;
}
.profile {
  grid-area: profile;
  background-color: #7aa7c8d3;
  background-image: url("../src/asset/background-profile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 150%;
}
