.saidbar {
    grid-area: saidbar;
    background-color: rgb(102 136 211 / 60%);
  }
  .saidbar ul li {
    list-style: none;
  }
  .saidbar ul li a {
    text-decoration: none;
    color: #a4baf9;
    font-size: 1.6rem;
    font-family: cursive;
    font-weight: bold;
  }
  .saidbar ul li a.activeLink {
    color: #269bff;
  }
  .saidbar ul li:hover {
    color: #269bff;
  }