/* PostCreator Begin */
.wrapperCreaterPost {
  padding: 0px 15px 75px 15px;
}
.wrapperCreaterPost h2 {
  color: #0769fdcf;
}
.loading {
  color: #0769fdcf;
}
.posts {
  margin-top: 7%;
}

/* PostCreater End */
/* Post Begin */
.wrapperPost {
  display: flex;
  background-color: #4ad9bc60;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.wrapperPost img {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  padding-right: 10px;
}
.wrapperPost p {
  word-break: break-all;
}
.postContent {
  font-weight: bold;
  font-size: 1.3rem;
  color: #1d72f1;
  text-shadow: 1px 1px 0px;
}
.postTime {
  font-size: 0.8rem;
  word-spacing: 6px;
  color: white;
}
/* Post End */
/* ProfileCard Begin */
.profileCard {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.profileCard img {
  width: 180px;
  height: 180px;
}
.profileStatus {
  display: block;
  width: 100%;
  word-break: break-word;
  color: #0769fdcf;
}
.leftCard {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}
.profileInfo {
  padding: 0px 0px 25px 15px;
}

.profileImg img {
  width: 180px;
  height: 180px;
}
.rightCard {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
}
.locationCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
.btn_settings {
  text-align: center;
  margin-left: 5px;
  padding: 8px 41px;
  border: solid 3px #777bebd9;
  border-radius: 4px;
  font: 16px "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  color: #0769fdcf;
  background-color: #dddddd52;
  box-shadow: 0px 0px 10px #0e5cd1, inset 0px 0px 10px #edc0c0;
}
.btn_settings:hover {
  background-color: #46d3e1b5;
  cursor: pointer;
  color: #edededcf;
}

.locationCard span {
  text-decoration: none;
  text-align: center;
  margin-left: 5px;
  padding: 8px 41px;
  border: solid 3px #777bebd9;
  border-radius: 4px;
  font: 16px "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  color: #0769fdcf;
  background-color: #dddddd52;
  box-shadow: 0px 0px 10px #0e5cd1, inset 0px 0px 10px #edc0c0;
}

.profileName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #270ac7e0;
}
/* ProfileCard End */

/* EditMode Begin */
.wrapperEditMode {
  position: fixed;
  background-color: #387cf978;
  border-radius: 30px;
  width: 360px;
  height: 400px;
  z-index: 2000;
  top: 12%;
  left: 40%;
  margin: 0px auto;
  padding: 30px;
}
.wrapperForm {
  background-color: #efefef78;
  width: 100%;
  height: 100%;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
}
